<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Suppose that this is a shopping website</h1>
    <ul>
      <li>PC<button id="pc">Click</button></li>
      <li >Mouse<button id="ms">Click</button></li>
      <li>Screen<button id="sc">Click</button></li>
      <li>Keyboard<button id="ky">Click</button></li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="/scripts/main.js" type="text/javascript"></script>
  </body>
</html>
